* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(237, 219, 255);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid plum;
    outline: none;
}

.calculator-grid > button:hover {
    background-color: rgb(236, 194, 236);
    color: blueviolet;
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgb(157, 157, 235);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .current-operand {
    color: white;
    font-size: 2rem;
}